#chat1-screen {
  background-color: #abc1d1;
  height: 1000vh;
}
#chat1-screen .alt-header,
#chat1-screen .status-bar {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background-color: #abc1d1;
}

#chat1-screen .alt-header {
  top: 20px;
}

.main-chat {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}

.chat__timestamp {
  color: white;
  background-color: #92a4b2;
  padding: 6px 9px;
  border-radius: 14px;
  margin-bottom: 25px;
}
.message-row {
  width: 100%;
  display: flex;
}
.message-row img {
  width: 33px;
  height: 33px;
  border-radius: 10px;
  margin-right: 6px;
  margin-bottom: 25px;
}
.message__author {
  font-size: 12px;
  margin-bottom: 6px;
  display: block;
}
.message__bubble {
  background-color: white;
  padding: 8px 10px;
  border-radius: 8px;
  border-top-left-radius: 0px;
  margin-right: 5px;
}
.message__info {
  display: flex;
  align-items: flex-end;
}
.message__time,
.message__author {
  font-size: 10px;
  opacity: 0.8;
}
.message-row--own {
  justify-content: flex-end;
}
.message-row--own .message__bubble {
  background-color: var(--yellow);
  border-top-right-radius: 0px;
  border-top-left-radius: 8px;
}
